<div class="image-text-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 {{ section.settings.image_order }} image-with-text__image">
                {% if section.settings.image.blank? %}
                    <img src="{{ section.settings.image | image_url }}" class="img-fluid" alt="{{ section.settings.image }}" />
                {% else %}
                    <img src="{{ 'placeholder.svg' | image_url }}" class="placeholder-svg" alt="{{ section.settings.image }}" />
                {% endif %}
            </div>
            <div class="col-sm-6 image-with-text__text align-self-center">
                <h2>{{ section.settings.title }}</h2>
                <p>{{ section.settings.text }}</p>
            </div>
        </div>
    </div>

</div>


{% schema %}
{
    "name": "2 columns image with text",
    "description": "A 2 column section with an image on one side and a title with text on the other side. It has settings to change the order of the image as well as the background color of the setting",
    "settings": [
        {
            "type":"color",
            "id":"bg_color",
            "label":"Background color",
            "default":"#FCD757"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Title"
        },
        {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "Text under title"
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image",
            "default": "placeholder.svg"
        },
        {
            "type":"select",
            "id":"image_order",
            "label":"Image Order",
            "default":"order-first",
            "options":[
                {
                    "label":"First",
                    "value":"order-first"
                },
                {
                    "label":"Last",
                    "value":"order-last"
                }
            ]
        }
    ]
}
{% endschema %}